In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [11]:
dados = pd.read_csv("./data/games.csv")
dados = dados[["firstBlood", "firstTower", "firstInhibitor", "firstBaron",
               "firstDragon", "firstRiftHerald", "winner"]]
dados.head()

,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,firstRiftHerald,winner
0,2,1,1,1,1,2,1
1,1,1,1,0,1,1,1
2,2,1,1,1,2,0,1
3,1,1,1,1,1,0,1
4,2,1,1,1,1,0,1

In [12]:
df = dados.loc[(dados["firstBlood"] != 0) & 
               (dados["firstTower"] != 0) & 
               (dados["firstInhibitor"] != 0) & 
               (dados["firstDragon"] != 0) & 
               (dados["firstRiftHerald"] != 0)]

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23146 entries, 0 to 51486
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   firstBlood       23146 non-null  int64
 1   firstTower       23146 non-null  int64
 2   firstInhibitor   23146 non-null  int64
 3   firstBaron       23146 non-null  int64
 4   firstDragon      23146 non-null  int64
 5   firstRiftHerald  23146 non-null  int64
 6   winner           23146 non-null  int64
dtypes: int64(7)
memory usage: 1.4 MB