In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [36]:
dados = pd.read_csv("./data/games.csv")
dados = dados[["firstBlood", "firstTower", "firstInhibitor", "firstBaron",
               "firstDragon", "firstRiftHerald", "winner"]]
dados.head()

,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,firstRiftHerald,winner
0,2,1,1,1,1,2,1
1,1,1,1,0,1,1,1
2,2,1,1,1,2,0,1
3,1,1,1,1,1,0,1
4,2,1,1,1,1,0,1

In [40]:
df = dados[dados[["firstBlood", "firstTower", "firstInhibitor", "firstDragon", "firstRiftHerald"]] != 0]

In [ ]:
df = dados.copy()
df.lo

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51490 entries, 0 to 51489
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   firstBlood       50935 non-null  float64
 1   firstTower       50277 non-null  float64
 2   firstInhibitor   45214 non-null  float64
 3   firstBaron       0 non-null      float64
 4   firstDragon      49490 non-null  float64
 5   firstRiftHerald  0 non-null      float64
 6   winner           0 non-null      float64
dtypes: float64(7)
memory usage: 2.7 MB